*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1,
h2{
    text-align: center;
    padding: 50px;
}

section{
    max-width: 1170px;
    padding: 15px;
    margin: auto;
}

.products{
    display: flex;
}

.product{
    margin-right: 30px;
}

.product p{
    margin: 10px 0;
}